<nav class="navbar navbar-expand-lg">
  <div class="container px-0">
    <img class="navbar-brand" src="../../assets/2030 with takid.png" height="43px" width="105px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="activeLink" aria-current="page" [routerLinkActiveOptions]="{exact:true}" routerLink="contactus">الوظائف</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الشركات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الخدمات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink">التدوينات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="activeLink">انشر اقتراحا</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <button class="btn" id="login"><a href="#">تسجيل الدخول</a></button>
         </li>
         <li><button class="btn" id="createAcc"><a href="#">انشاء حساب</a></button></li>
      </ul>
    </div>
  </div>
</nav>


