<div class="container-fluid" id="contact-header">
  <div class="container">
    <div class="row">
      <div>
          <a routerLink="/home">الرئيسية </a>
          <i class="bi bi-chevron-double-left"></i>
          <b> تواصل معنا </b>
      </div>
      <div class="py-2">
        <h5>تواصل معنا</h5>
        <div class="text-center">
          <h1>اتصل بنا</h1>
        </div>
      </div>
  </div>
  </div>
</div>


<div class="container-fluid py-3" id="contact-body">
  <div class="row bg-white mx-3 p-md-4">
    <div class="col-sm-12 col-md-6">
      <form  [formGroup]="contactForm" (ngSubmit)="send()">
        <div>
          <input type="text" name="clientName" placeholder="الاسم كاملا *" formControlName="name">
          <span class="text-danger" *ngIf='name.invalid && name.touched || name.invalid && name.dirty'>يرجي ادخال الاسم</span>
        </div>
        <div>
          <input type="email" name="email" placeholder=" *البريد  لاالكتروني" formControlName="email">
          <span class="text-danger" *ngIf="email.invalid && email.touched && email.dirty">
            <span *ngIf="email.errors?.['pattern']">يجب ان ينتهي البريد الالكتروني ب .com</span>
          </span>
        </div>
        <div>
          <textarea name="message" id="" cols="30" rows="8" placeholder="الرسالة" formControlName="message"></textarea>
          <span class="text-danger" *ngIf="message.invalid && message.touched ||message.invalid &&  message.dirty">ادخل رسالتك</span>
        </div>
        <input type="submit" value="ارسال" [disabled]="contactForm.invalid">
      </form>
    </div>
    <div class="col-sm-12 col-md-6">
      <div>
        <div class="card">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14572.986582348974!2d45.28777853243402!3d24.057617415387753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e28384592a845bb%3A0xdad157ef4c17d95!2z2KfZhNio2LPYp9iq2YrZhtiMINin2YTZgtmI2YrYudmK2Kkg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1665412431310!5m2!1sar!2seg" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
